<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page-container">
    <h1>Our Team</h1>

    <div class="team-box">
        <div class="member">
            <h3>Shaik Ayasha Fathima</h3>
            <p>Team Lead</p>
            <p>KHIT College</p>
        </div>

        <div class="member">
            <h3>Kondapalli Sagar</h3>
            <p>Team Member1</p>
            <p>KHIT College</p>
        </div>

        <div class="member">
            <h3>Shaik Azmal</h3>
            <p>Team Memeber2</p>
            <p>KHIT College</p>
        </div>

        <div class="member">
            <h3>Ongole Mounika</h3>
            <p>Team Member3</p>
            <p>KHIT College</p>
        </div>
    </div>

    <div style="margin-top:30px;">
        <a href="/" class="btn">Back Home</a>
    </div>

</div>

</body>
</html>
